html{
}
.boton{

  border-radius: 15px;
  background-color: #2B3C53;
  position: relative;
  top: 20px;
  left: 0px;
  width: 100px;
  height: 40px;
  color: white;
}
header{
	background-color: #2B3C53;
	color: white;

}
aside{
	background-color: red;
	color: black;
}
.color1{
	background-color: #2B3C53;
	color: white;
}
.color2{
	background-color: #B6B6B6;
	color: white;
}
.caja{
	position: fixed;
	bottom: 0;
	left: 40%;
}