html{
}
header{
	background-color: #2B3C53;
	color: white;

}
aside{
	background-color: red;
	color: black;
}
.color1{
	background-color: #2B3C53;
	color: white;
}
.color2{
	background-color: #B6B6B6;
	color: white;
}
.caja{
	position: fixed;
	bottom: 0;
	left: 40%;
}